
:root {
  --surface-color: #fff;
  --main-color:#FFF13A;
  --curve: 40;
}
html{
 scroll-behavior:smooth;
}

*{
 margin: 0;
 position: relative;
 
}
body{
 background: #121212;
}

#container{
 display:none;
 background:#121212;
 height: 100%;
 color: white;
 margin: 0;
 width: 100%;
}
.sectionName{
 font-size: 2rem;
 text-align: center;
 padding: 20px 0px;
 color: var(--main-color) ;
}

/*nav bar */
#navbar{
 position: fixed;
 z-index: 100000;
 display: flex;
 background: var(--main-color);
 width: 100%;
 justify-content: space-between;
 padding:10px 0;
}
#navSection{
 display:flex;
 margin:auto 10px;
 justify-content:space-between;
}
.navElements img{
 height: 50px;
 margin:0px 5px;
}

 #logo{
 height:80px;
}

.navElements:hover{
   transform: scale(1.3)
}
.navElements{
 transition: transform 0.4s ;
}

/* profile section */

#topSection{
 display: flex;
 padding: 50px 0;
 justify-content: space-around;
}
#profilePic,#greetings{
 margin-top: 100px;
}
#profilePic img{
 height: 200px;
 width: 200px;
 border: 3px solid var(--main-color);
 border-radius: 100px;
 object-fit:cover;
 object-position: 0px 0px ;
 zoom: 110%;
}
#profilePic p{
 font-size: 25px;
 margin-top: 25px;
}
#greetings pre {
 font-size: 75px;
 font-family: cursive;
}

/* about me ( who am i l */
#aboutMe{
 background-color: #151515;
}
#AboutSection{
 
 display: flex;
 justify-content: space-evenly
}
#AboutSection img{
 height:350px;
 margin-right: 10px;
 border: 2px solid var(--main-color);
 border-radius: 20px;
 
}
#AboutSection p{
 font-size:20px;
 margin:10px;
}

/* Skill Sextion */
#skillSection{
 display: flex;
 justify-content:space-evenly;
 
}
.skillElement{
 color: black;
 text-align: center;
 background-color: white;
  padding: 10px;
  border: 1px solid ;
  border-radius:20px;
  width:25%;
  
}
.skillElement h2{
 margin:10px auto 20px auto;
 font-size: 2em;
 font-weight:bold;
 border-bottom: 1px solid dimgrey
}
.icons{
 height:50px;
 margin:3px;
}

/* projects */
 #projects{
  margin-top: 40px;
 }
 #projects h2{
  margin-left:20px;
  font-size: 30px;
 }
 /*mini projects*/
 #miniProjects{
  display: grid;
  grid-template-columns:auto auto auto auto;
  justify-content: space-evenly;
  margin:50px auto;
 }
 
 .miniItem{
  display: inline-block;
  padding: 20px;
   text-decoration: none;
   color: black;
   text-align: center;
   background:white;
   border-radius:20px;
   width:80px;
   height: 80px;
 }
 .miniItem img{
  width:100%;
 }

 
.ag-format-container {
  width: 100%;
  margin: 0 auto;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(30% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
 text-decoration: none;
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}



/*connect with me */
#connectWithMe{
 border-top: 1px solid #797A8D;
  background-color: #181818;
  padding-bottom:40px;
}
#ConnectSection{
   display: flex;
   justify-content: space-between;
   
}
#ConnectSection div{
 border-right:1px solid grey;
 width: 100%;
}
#ConnectSection h3{
 font-size: 25px;
 text-align: center;
 margin: 20px auto;
 width: 100%;
 
}

#ConnectSection a:hover{
 font-weight: bolder;
 transform: scale(1)
}

#ConnectSection a{
 text-decoration: none;
 color: white;
 display: block;
 margin:5px; 
 font-size: 20px;
 transition: font-weight 0.5s;
}

#contactDetail a img{
 display: inline-block;
 height:25px;
 margin:auto 10px;
 
}

#contactDetail a img[src="images/contact/call.png"]{
 border-radius: 100px;
 background-color: #fff;
}
#socialMedia section{
 text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#socialMedia a img{
 height:70px;

}


/* Mobile Responsive */
@media screen and (max-width:360px){
   
   /*navbar*/
   /* used in main.js nav bar transition*/
   #navElm{
 transform:scale(1.3)
}
   
   /*-------------------*/
   #navbar{
    padding:2px 0;
 }
 
.navElements img{
 height: 30px;
 margin:0px 5px;
}

 #logo{
 height:50px;
}

/* profile*/

#topSection{
 display: block;
 padding: 50px 0;
}
#profilePic{
 margin-top: 50px;
 text-align: center;
}
#profilePic img{
 height: 150px;
 width: 150px;
 
}
#profilePic p{
 font-size: 20px;
 margin-top: 10px;
}
#greetings{
 margin-top: auto;
}
#greetings pre{
 margin-top: 30px;
 text-align: center;
 font-size: 56px;
}

/* Who am i*/
#aboutMe{
 opacity:0;
}
#AboutSection{
 display: block;
 text-align: center;
}
#AboutSection img{
 height:250px;
 margin-top:20px;
 border-radius: 20px;
 
}
#AboutSection p{
 text-align: justify;
 font-size:17px;
 margin:10px;
}
   
  /* Skill Sextion */
  #skills{
   opacity:0;
  }
#skillSection{
 display: block;
 opacity:0;
 
}
.skillElement{

 margin: 10px auto;
  width:60%;
  height:250px;
  
}
/*projects  */
 #projects{
  opacity:0;
  margin-top: 40px;
 }
#miniProjects{
  grid-gap:15px;
  
}  
.miniItem{
 width:55px;
height:55px;
padding:8px;
font-size: auto;
}
.miniItem img{
 width:100%;
}
/* connect witth me */
 #connectWithMe{
  opacity: 0;
 }
#ConnectSection{
   display: block;
   
}
#ConnectSection div{
 border-right:1px solid grey;
 padding:0px;
 width: 100%;
}
#ConnectSection h3{
 font-size: 20px;
 text-align: center;
 margin-bottom: 20px;
 
}
#ConnectSection a{
 display: block;
 width:70%;
 margin:5px; 
 font-size: 15px
}

#contactDetail a img{
 display: inline-block;
 position: relative;
 bottom:-5px;
 height:22px;
 margin:auto 0px;
 
}

#socialMedia a{
 display:inline;
 margin:2;
 padding:0px;
}
#socialMedia{
 margin:0px;
 padding:0;
}
#socialMedia a img{
 height:50px;
animation-name: move;
animation-duration:1s;
animation-delay: 2s;
}

/* animation*/
.moveUp{
   
   animation: moveUp 1s;
   
}

.moveDown{
   
   animation: moveDown 1s;
   
   
}
.moveLeft{
   
   animation: moveLeft 1s;
   
}

.moveRight{
 animation:moveRight;
 
}

}

/* animations */

@keyframes moveRight{
  from{
   opacity:0;
   left:-100px;
  }
  to{
   opacity:1;
   left:0px;
  }
}
@keyframes moveLeft{
 from{
  opacity:0;
  right:-100px;
 }
to{
 opacity: 1;
 right:0px;
}
}

@keyframes moveUp{
    from{
        opacity:0;
        top:100px;
    }
    to{
     opacity:1;
     top:0px;
    }
   
}
@keyframes moveDown{
    from{
        opacity:0;
        bottom:100px;
    }
    to{
     opacity:1;
     bottom:0px;
    }
   
}
#logo{
 animation: moveRight 1s;
}
#navSection{
   animation: moveLeft 1s;
}
#profilePic{
 animation: moveDown 1s ;
}
#greetings{
 animation: moveUp 1s;
}




/*Loader */
#loaderSec{
 display: flex;
   position:fixed;
   justify-content: center;
   align-items: center;
   z-index:9999999;
   width:100%;
   height:100%;
   background:#121212;
}
 .loader {
        transform: rotateZ(45deg);
        perspective: 900px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        color: #fff;
      }
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin linear infinite;
        }
        .loader:after {
          color: #FFF13A;
          transform: rotateY(70deg);
          animation-delay: .4s;
        }

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
        }
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }
   